#admin-switcher-portal_utentefederaemiliaromagna{
	.crud-actions{
		.add-item{
			display: none;
		}
	}
	.crud_table_actions{
		display: none;
	}
	.form form{
		.form-actions{
			display: none;
		}
	}
}