<div class="mceTmpl iscrizioni_muse">
	<fieldset id="dati_iscrizioni_online">
		<div class='barra_opzioni_template' id="dati_iscrizione_muse"></div><br />
		<em><strong>Dati Richiedente</strong></em> 
		<br />
		<br />
		Nome&nbsp;&nbsp;
		<input id="richiedente_nome" class="input_mediumwidth_220 iscrizioni_muse readonly_js" size="2" type="text" />
		Cognome&nbsp;&nbsp;
		<input id="richiedente_cognome" class="input_mediumwidth iscrizioni_muse readonly_js" size="2" type="text" />
		<br />
		Codice Fiscale &nbsp;
		<input id="richiedente_codice_fiscale" class="input_mediumwidth_220 iscrizioni_muse readonly_js" size="2" type="text" />
		&nbsp;
		Comune Nascita &nbsp;
		<input id="richiedente_comune_nascita" class="input_mediumwidth iscrizioni_muse readonly_js" size="0" type="text" />
		<br />
		Data di Nascita &nbsp;
		<input id="richiedente_data_nascita" class="input_mediumwidth_220 iscrizioni_muse readonly_js" type="text" />
		E-mail &nbsp;
		<input id="richiedente_email" class="input_mediumwidth iscrizioni_muse readonly_js" size="0" type="text" />
		<br />
		Comune Residenza &nbsp;
		<input id="richiedente_comune_residenza" class="input_mediumwidth iscrizioni_muse readonly_js" size="0" type="text" />
		<br />
		Via &nbsp;
		<input id="richiedente_via" class="input_mediumwidth iscrizioni_muse readonly_js" size="4" type="text" />
		Numero &nbsp;
		<input id="richiedente_civico" class="input_xxsmallwidth iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		Bis &nbsp;
		<input id="richiedente_bis" class="input_xxsmallwidth iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		<br />
		Piano &nbsp;
		<input id="richiedente_piano" class="input_xxsmallwidth iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		Scala &nbsp;
		<input id="richiedente_scala" class="input_xxsmallwidth iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		Interno &nbsp;
		<input id="richiedente_interno" class="input_xxsmallwidth iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		<br />
		Cellulare Papà &nbsp;
		<input id="richiedente_cellulare" class="input_mediumwidth_220 iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		Cellulare Mamma &nbsp;
		<input id="richiedente_cellulare2" class="input_mediumwidth_220 iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		<br />
		Altro Recapito &nbsp;
		<input id="richiedente_telefono" class="input_mediumwidth_220 iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		Altro Recapito &nbsp;
		<input id="richiedente_telefono2" class="input_mediumwidth_220 iscrizioni_muse readonly_js" size="0" type="text" />
		<br />
		Riduzione ISEE
		<input id="riduzione_isee" class="input_xxsmallwidth iscrizioni_muse readonly_js" type="text" />
		Reddito ISEE
		<input id="reddito_isee" class="input_smallwidth iscrizioni_muse readonly_js" size="0" type="text" />
		<br /><br />
		Lista Servizi &nbsp;
		<input id="servizi" class="input_dinamico iscrizioni_muse input_largewidth readonly_js" size="0" type="text">
		<br /><br />
		Note
		<input id="richiedente_note" class="input_largewidth iscrizioni_muse readonly_js" size="0" type="text" />
		<br />
		<br />
		<em><strong>Dati Fruitore</strong></em> 
		<br />
		<br />
		Nome&nbsp;&nbsp;
		<input id="fruitore_nome" class="input_mediumwidth_220 iscrizioni_muse readonly_js" size="2" type="text" />
		Cognome&nbsp;&nbsp;
		<input id="fruitore_cognome" class="input_mediumwidth iscrizioni_muse readonly_js" size="2" type="text" />
		<br />
		Codice Fiscale &nbsp;
		<input id="fruitore_codice_fiscale" class="input_mediumwidth_220 iscrizioni_muse readonly_js" size="2" type="text" />
		&nbsp;
		Comune Nascita &nbsp;
		<input id="fruitore_comune_nascita" class="input_mediumwidth iscrizioni_muse readonly_js" size="0" type="text" />
		<br />
		Data di Nascita &nbsp;
		<input id="fruitore_data_nascita" class="input_mediumwidth_220 iscrizioni_muse readonly_js" type="text" />
		<br />
		Comune Residenza &nbsp;
		<input id="fruitore_comune_residenza" class="input_mediumwidth iscrizioni_muse readonly_js" size="0" type="text" />
		<br />
		Via &nbsp;
		<input id="fruitore_via" class="input_mediumwidth iscrizioni_muse readonly_js" size="4" type="text" />
		Numero &nbsp;
		<input id="fruitore_civico" class="input_xxsmallwidth iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		Bis &nbsp;
		<input id="fruitore_bis" class="input_xxsmallwidth iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		Piano &nbsp;
		<input id="fruitore_piano" class="input_xxsmallwidth iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		<br />
		Scala &nbsp;
		<input id="fruitore_scala" class="input_xxsmallwidth iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		Interno &nbsp;
		<input id="fruitore_interno" class="input_xxsmallwidth iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		<br />
		Punto Erogazione &nbsp;
		<input id="fruitore_scuola" class="input_largewidth iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		Classe &nbsp;
		<input id="fruitore_classe" class="input_xxsmallwidth iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		Sezione &nbsp;
		<input id="fruitore_sezione" class="input_xxsmallwidth iscrizioni_muse readonly_js" size="0" type="text" />
		&nbsp;
		<br />


	</fieldset>
</div>