<div class="mceTmpl dati_ditta">
    <fieldset id="dati_ditta">
        <div class='barra_opzioni_template' id="dati_ditta"></div><br />
        <em><strong id="titolo_dati_ditta">Dati Ditta</strong></em> 
        <br /><br />
        Ragione Sociale &nbsp;<input id="ragione_sociale_azienda" class="input_bigwidth da_portale" size="2" type="text" /><br />
        Partita Iva &nbsp;<input id="piva_azienda" class="input_mediumwidth_220 da_portale" size="2" type="text" /><br />
        Codice Fiscale Azienda &nbsp;<input id="cf_azienda" class="input_mediumwidth_220 da_portale" size="2" type="text" /><br />
        Indirizzo &nbsp;<input id="indirizzo_azienda" class="input_largewidth da_portale" size="2" type="text" /> &nbsp;&nbsp; 
        Civico &nbsp;<input id="civico_azienda" class="input_xxsmallwidth da_portale" size="2" type="text" /> &nbsp;&nbsp;
        Cap &nbsp;<input id="cap_azienda" class="input_smallwidth da_portale" size="2" type="text" /> &nbsp;&nbsp;<br />
        Comune &nbsp;<input id="comune_azienda" class="input_mediumwidth da_portale" size="2" type="text" /> &nbsp;&nbsp;
        Provincia &nbsp;<input id="prov_azienda" class="input_xxsmallwidth da_portale" size="2" type="text" /> &nbsp;&nbsp;<br />
        Tel &nbsp;<input id="tel_azienda" class="input_mediumwidth_220 da_portale" size="2" type="text" /> &nbsp;&nbsp;
        Fax &nbsp;<input id="fax_azienda" class="input_mediumwidth_220 da_portale" size="2" type="text" /> &nbsp;&nbsp;<br />
        E-mail &nbsp;<input id="email_azienda" class="input_mediumwidth da_portale" size="2" type="text" /> &nbsp;&nbsp;
        Pec &nbsp;<input id="pec_azienda" class="input_mediumwidth da_portale" size="2" type="text" /> &nbsp;&nbsp;<br />
    </fieldset>
</div>