		<div class="mceTmpl dati_portale">
			<fieldset id="dati_utente">
				<div class='barra_opzioni_template' id="dati_utente_portale"></div><br />
				<em><strong id="titolo_dati_utente">Dati Utente Portale</strong></em> 
				<br />
				<br />
				Nome&nbsp;&nbsp;
				<input id="nome" class="input_mediumwidth_220 da_portale" size="2" type="text" />
				&nbsp; Cognome&nbsp;&nbsp;
				<input id="cognome" class="input_mediumwidth_220 da_portale" size="2" type="text" />
				<br />
				Codice Fiscale &nbsp;
				<input id="codice_fiscale" class="input_mediumwidth_220 da_portale" size="2" type="text" />
				&nbsp;
				Sesso &nbsp;
				<input id="sesso" class="input_xxsmallwidth da_portale" size="2" type="text" />
				&nbsp;
				<br />
				Nato a &nbsp;
				<input id="luogo_nascita" class="input_mediumwidth da_portale" size="0" type="text" />
				&nbsp; Il &nbsp;
				<input id="data_nascita" class="sel_data input_date input_mediumwidth_220 da_portale" type="date" placeholder="data dd/mm/aaaa" />
				<br />
				Prov Nascita &nbsp;
				<input id="prov_nascita" class="input_smallwidth da_portale" size="0" type="text" />
				Stato Nascita &nbsp;
				<input id="stato_nascita" class="input_mediumwidth da_portale" size="0" type="text" />
				<br />
				Residente a &nbsp;
				<input id="luogo_residenza" class="input_mediumwidth da_portale" size="0" type="text" />
				prov &nbsp;
				<input id="prov_residenza" class="input_xxsmallwidth da_portale" size="0" type="text" />
				&nbsp; cap &nbsp;
				<input id="cap" class="input_smallwidth da_portale" size="1" type="text" />
				<br />
				Indirizzo &nbsp;
				<input id="indirizzo_residenza" class="input_largewidth da_portale" size="4" type="text" />
				&nbsp; n &nbsp;
				<input id="civico_residenza" class="input_xxsmallwidth da_portale" size="0" type="text" />
				&nbsp;
				<br />
				Stato Residenza &nbsp;
				<input id="stato_residenza" class="input_mediumwidth da_portale" size="0" type="text" />
				&nbsp;
				<br />
				Tipo documento
				<input id="tipo_documento" class="input_mediumwidth_220 da_portale" size="2" type="text" />
				Num.
				<input id="num_documento" class="input_smallwidth da_portale" size="1" type="text" />
				del&nbsp;&nbsp;
				<input id="data_documento" class="sel_data input_date input_mediumwidth_220 da_portale" type="date" placeholder="data dd/mm/aaaa" />
				&nbsp;
				<br />
				Rilasciato da &nbsp;
				<input id="doc_rilasciato_da" class="input_mediumwidth_220 da_portale" size="2" type="text" />
				&nbsp;
				<br />
				E-mail
				<input id="email" class="input_mediumwidth da_portale" size="0" type="text" />
				Pec &nbsp;
				<input id="pec" class="input_mediumwidth da_portale" size="0" type="text" />
				&nbsp;
				<br />
				Telefono &nbsp;
				<input id="telefono" class="input_mediumwidth_220 da_portale" size="2" type="text" />
				cellulare &nbsp;
				<input id="cellulare" class="input_mediumwidth_220 da_portale" size="2" type="text" />
				&nbsp;
						
			</fieldset>
			
		</div>