<div class="mceTmpl pratiche">
	<em><strong>Oggetto della pratica</strong></em> 
	<br />
	<br />
	Oggetto pratica
	<input id="oggetto_della_pratica" class="input_largewidth textarea da_pratiche readonly_js" type="text" />
	&nbsp;
	Num istanza
	<input id="numero_istanza_pratica" class="input_smallwidth da_pratiche readonly_js" type="text" />
	&nbsp;
	<br />
	Data Istanza
	<input id="data_istanza_pratica" class="sel_data input_date input_mediumwidth_220 da_pratiche readonly_js" type="date" placeholder="data dd/mm/aaaa" />
	&nbsp;
	<br />
</div>