<div class="mceTmpl pratiche">
	<em><strong>Dati Aggiuntivi</strong></em> 
	<br />
	<br />
	Dato aggiuntivo 1
	<input id="metadato_1" class="input_mediumwidth_220 da_pratiche" size="2" type="text" />
	&nbsp;
	<br />
	Dato aggiuntivo 2
	<input id="metadato_2" class="input_mediumwidth_220 da_pratiche" size="2" type="text" />
	&nbsp;
	<br />
	Dato aggiuntivo 3
	<input id="metadato_3" class="input_mediumwidth_220 da_pratiche" size="2" type="text" />
	&nbsp;
	<br />
	Dato aggiuntivo 4
	<input id="metadato_4" class="input_mediumwidth_220 da_pratiche" size="2" type="text" />
	&nbsp;
	<br />
	Dato aggiuntivo 5
	<input id="metadato_5" class="input_mediumwidth_220 da_pratiche" size="2" type="text" />
	&nbsp;
	<br />
	Dato aggiuntivo 6
	<input id="metadato_6" class="input_mediumwidth_220 da_pratiche" size="2" type="text" />
	&nbsp;
	<br />
	<br />
	
</div>