<div class="mceTmpl pratiche pratiche_progettista" >
            <fieldset id="progettista_1">
                  <div class='barra_opzioni_template' id="dati_progettista"></div><br />
                  <em><strong>Dati Progettista</strong></em><br /><br />
                  Cognome/Ragione Sociale
                  <input id="cognome_progettista" class="input_mediumwidth da_pratiche readonly_js" size="3" type="text" />
                  Nome&nbsp;&nbsp;
                  <input id="nome_progettista" class="input_mediumwidth_220 da_pratiche readonly_js" size="2" type="text" />
                  <br />
                  Codice Fiscale &nbsp;
                  <input id="codice_fiscale_progettista" class="input_mediumwidth_220 da_pratiche readonly_js" size="2" type="text" />
                  &nbsp; Partita Iva &nbsp;
                  <input id="piva_progettista" class="input_mediumwidth_220 da_pratiche readonly_js" size="2" type="text" />
                  <br />
                  Comune Nascita &nbsp;
                  <input id="comune_nascita_progettista" class="input_mediumwidth da_pratiche readonly_js" size="0" type="text" />
                  &nbsp; Prov nascita &nbsp;
                  <input id="prov_nascita_progettista" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
                  &nbsp;
                  <br />
                  Data Nascita &nbsp;
                  <input id="data_nascita_progettista" class="sel_data input_date input_mediumwidth_220 da_pratiche" type="date" placeholder="data dd/mm/aaaa" />
                  &nbsp;
                  <br />
                  residente in&nbsp;
                  <input id="citta_residenza_progettista" class="input_mediumwidth_220 da_pratiche readonly_js" size="2" type="text" />
                  &nbsp; prov&nbsp;
                  <input id="prov_residenza_progettista" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
                  C.A.P.
                  <input id="cap_residenza_progettista" class="da_pratiche readonly_js" size="6" type="text" />
                  &nbsp;
                  <br />
                  Indirizzo&nbsp;
                  <input id="indirizzo_residenza_progettista" class="input_mediumwidth_220 da_pratiche readonly_js" size="2" type="text" />
                  n.
                  <input id="civico_residenza_progettista" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
                  barrato&nbsp;&nbsp;
                  <input id="barrato_residenza_progettista" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
                  interno&nbsp;&nbsp;
                  <input id="interno_residenza_progettista" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
                  scala&nbsp;&nbsp;
                  <input id="scala_residenza_progettista" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
                  piano &nbsp;
                  <input id="piano_residenza_progettista" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
                  <br />
                  E-mail
                  <input id="email_progettista" class="input_mediumwidth da_pratiche readonly_js" size="0" type="text" />
                  pec &nbsp;
                  <input id="pec_progettista" class="input_mediumwidth da_pratiche readonly_js" size="3" type="text" />
                  &nbsp;
                  <br />
                  Recapito Telefonico
                  <input id="telefono_progettista" class="input_mediumwidth_220 da_pratiche readonly_js" size="2" type="text" />
                  Cellulare &nbsp;
                  <input id="cellulare_progettista" class="input_mediumwidth_220 da_pratiche readonly_js" size="2" type="text" />
                  <br />
                  Num Iscrizione Albo
                  <input id="num_albo_progettista" class="input_mediumwidth_220 da_pratiche readonly_js" size="2" type="text" />
                  &nbsp; &nbsp;
                  <input id="descr_albo_progettista" class="input_mediumwidth da_pratiche readonly_js" size="3" type="text" />
                  Prov
                  <input id="prov_albo_progettista" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
            </fieldset>
            <br /><br />
            <fieldset id="dati_ditta_progettista_1" class=""> <strong>Dati del Legale Rappresentante:</strong>
                  <br /><br />
                  Cognome &nbsp;
                  <input id="cognome_leg_rap" class="input_mediumwidth da_pratiche readonly_js" size="0" type="text" />
                  Nome &nbsp;
                  <input id="nome_leg_rap" class="input_mediumwidth_220 da_pratiche readonly_js" size="2" type="text" />
                  &nbsp;
                  <br />
                  Codice Fiscale &nbsp;
                  <input id="cod_fisc_leg_rap" class="input_mediumwidth_220 da_pratiche readonly_js" size="2" type="text" />
                  Data Nascita &nbsp;
                  <input id="data_nascita_leg_rap" class="sel_data input_date input_mediumwidth_220 da_pratiche readonly_js" type="date" placeholder="data dd/mm/aaaa" />
                  &nbsp;
                  <br />
                  Comune Nascita &nbsp;
                  <input id="comune_nascita_leg_rap" class="input_mediumwidth da_pratiche readonly_js" size="0" type="text" />
                  &nbsp; Prov nascita &nbsp;
                  <input id="prov_nascita_leg_rap" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
                  &nbsp;
                  <br />
                  Comune CCIAA &nbsp;
                  <input id="cciaa_leg_rap" class="input_mediumwidth" size="0" type="text" />
                  <br />
                  Provincia CCIAA &nbsp;
                  <input id="provincia_cciaa_leg_rap" class="input_mediumwidth" size="0" type="text" />
                  <br />
                  Numero CCIAA &nbsp;
                  <input id="numero_cciaa_leg_rap" class="input_mediumwidth" size="0" type="text" />
                  <br />
            </fieldset>
      </div>
