<div class="mceTmpl pratiche">
    <fieldset id="oggetto_territoriale_1" > 
        <em><strong>Dati Territoriali</strong></em> 
        <br />
        <br />
        Indirizzo
        <input id="indirizzo_oggetto_territoriale" class="input_mediumwidth da_pratiche readonly_js" size="3" type="text" />
        N.&nbsp;&nbsp;
        <input id="civico_oggetto_territoriale" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
        <br />
        scala&nbsp;&nbsp;
        <input id="scala_oggetto_territoriale" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
        piano&nbsp;&nbsp;
        <input id="piano_oggetto_territoriale" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
        interno&nbsp;&nbsp;
        <input id="interno_oggetto_territoriale" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
        cap&nbsp;&nbsp;
        <input id="cap_oggetto_territoriale" class="input_smallwidth da_pratiche readonly_js" size="1" type="text" />
        <br />
        censito al:&nbsp;
        <input id="tipo_catasto_descrizione" class="input_mediumwidth_220 da_pratiche readonly_js" size="2" type="text" />
        foglio n.
        <input id="catasto_foglio" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
        map
        <input id="catasto_map" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
        sub
        <input id="catasto_sub" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
        sez
        <input id="catasto_sez" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
        sez urb.
        <input id="catasto_sez_urb" class="input_xxsmallwidth da_pratiche readonly_js" size="0" type="text" />
        <br />
        destinazione d'uso&nbsp;
        <input id="destinazione_uso" class="input_mediumwidth da_pratiche readonly_js" size="3" type="text" />
    </fieldset>
</div>